body {
    background-image: url("linen.png");
    background-color: white;
}
.navbar-brand {
    font-size: 36px;
    letter-spacing: 3px;
}

.navbar-nav {
    font-size: 24px;
}

#mainContainer {
    background-color: white;
    border: solid #61809d;
    height: 100%;
    margin-top: 40px;
}

.header {
    color: cadetblue;
    padding: 20px;
    border-bottom: solid #61809d;
    margin-bottom: 40px;
}

#contactContainer {
    height: 500px;
}
#portraitImg {
    width: 100%;
    margin-left: 15px;
}

.portfolioImg {
    width: 100%;
    
}

#two {
    /* height: 310px; */
}


.col-md-5 {
    /* border: solid red; */
    padding: 0;
}

p {
    font-size: 18px;
    line-height: 28px;
    margin-left: 15px;
}
h2 {
    text-align: center;
    padding: 20px 0;
    color: cadetblue;
}


#one {
    /* border: solid; */
    height: 300px;
    padding: 0;
}

#footer {
    background-color: #61809d;
    color: white;
    padding-top: 35px;
    text-align: center;
    margin-top: 40px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}